@font-face {
    font-family: "Fira Sans";
    src: url("fonts/Fira_Sans/FiraSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("fonts/Merriweather/Merriweather-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Bold";
    src: url("fonts/Merriweather/Merriweather-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-Italic";
    src: url("fonts/Merriweather/Merriweather-LightItalic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather-BoldItalic";
    src: url("fonts/Merriweather/Merriweather-BoldItalic.ttf");
    font-display: swap;
}

body {
    font-family: "Merriweather-Light",Georgia,Times,Times New Roman,serif;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #333;
    background-color: #eaeaea;
    margin: 0;
    word-break: break-word;

    /* Prevent Safari from adjusting text */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body strong {
    font-family: "Merriweather-Bold",Georgia,Times,Times New Roman,serif;
    font-style: unset;
}

body em {
    font-family: "Merriweather-Italic",Georgia,Times,Times New Roman,serif;
    font-style: unset;
}

body em strong {
    font-family: "Merriweather-BoldItalic",Georgia,Times,Times New Roman,serif;
    font-style: unset;
}

body strong em {
    font-family: "Merriweather-BoldItalic",Georgia,Times,Times New Roman,serif;
    font-style: unset;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
    max-width: 43em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    line-height: 1em; /* Fix wrapping of headers on narrow screens */
}

h1, h2 {
    font-weight: 500;
}

h2 {
    margin-top: 1.7em;
    padding-top: 0.2em;
    text-transform: uppercase;
    border-top: 2px solid #cbcbcb;
}

h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 1.7em;
    margin-bottom: 1.2em;
}

header {
    font-family: "Fira Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

blockquote {
    border-left: 0.4em solid #cbcbcb;
    padding-left: 1em;
    margin-left: 1em;
    font-family: "Merriweather-Italic",Georgia,Times,Times New Roman,serif;
    font-style: unset;
}

code {
    font-size: 1.22em;
    background: #d2d2d2;
}

p code {
    padding: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

li code {
    padding: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

pre {
    border-radius: 0.2em;
    overflow-y: scroll;
    background: #d2d2d2;
}

pre code {
    margin: 0.5em;
    display: inline-block;
}

#home-header {
    text-align: center;
}

#site-header {
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 0.6em;
    width: 100%;
    background-color: #ddd;
}

#site-header nav {
    text-wrap: nowrap;
    overflow-x: auto;
}

#site-header a {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

header a {
    color: #333;
}

a {
    text-decoration: none;
    color: #794400;
}

code a {
    text-decoration: underline;
    color: #b56600;
}

a code {
    text-decoration: underline;
    color: #b56600;
}

a:hover {
    color: #000;
}

a:hover code {
    text-decoration: underline;
    color: #000;
}

code a:hover {
    text-decoration: underline;
    color: #000;
}

.flex-empty-space {
    flex-grow: 1;
}

#home-center {
    font-family: "Fira Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

#home-title {
    margin: 0;
}

#home-icons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;
}

#home-icons a {
    margin-left: 0.3em;
    margin-right: 0.3em;
    color: #333;
}

#home-icons svg {
    display: inline-block;
    width: 2em;
    height: 2em;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#home-avatar {
    width: 15em;
    height: 15em;
    background-image: url("avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 5em;
    min-height: 5em;
}

.home-icon-text {
    font-family: "Merriweather-Italic";
    font-size: 0.8em;
    color: #794400;
}

footer {
    font-family: "Fira Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}

.stay-above-header {
    margin-bottom: 3.1em;
}

table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 0.3em;
}

th, td {
    text-align: left;
    vertical-align: top;
}

td {
    border-top: 1px solid #cbcbcb;
}

th {
    font-family: "Fira Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
}

@media print {
    body {
        font-size: 1em;
        line-height: 1.2em;
        background-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background-color: #333;
    }

    a {
        color: #c48e36;
    }

    code a {
        text-decoration: underline;
        color: #c48e36;
    }

    a code {
        text-decoration: underline;
        color: #c48e36;
    }

    a:hover {
        color: #fff;
    }

    a:hover code {
        text-decoration: underline;
        color: #fff;
    }

    code a:hover {
        text-decoration: underline;
        color: #fff;
    }

    #home-icons a {
        color: #ccc;
    }

    .home-icon-text {
        color: #c48e36;
    }

    #site-header {
        background-color: #444;
    }

    header a {
        color: #ccc;
    }

    h2 {
        border-top: 2px solid #474747;
    }

    blockquote {
        border-left-color: #474747;
    }

    code {
        background: #3e3e3e;
    }

    pre {
        background: #3e3e3e;
    }

    table {
        border: 1px solid #474747;
    }

    td {
        border-top: 1px solid #474747;
    }
}
