name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ "**" ]
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - run: git fetch
    - run: make worktree devenv-ci
    - name: Output website content diff to logs
      run: cd _site && git diff

    # it's ok if we push content to master without changing gh-pages.
    # however if this is just a dependency update, let's do a check
    # to make sure the dependency didn't change any website output.
    #
    # thanks <https://stackoverflow.com/a/59588725/138757>
    - name: Ensure site contents haven't changed
      if: contains(github.event.pull_request.labels.*.name, 'dependencies')
      run: cd _site && ../bin/dirty-check
